:root {
  --font-family: "Wotfard", Futura, -apple-system, sans-serif;
  --font-weight-bold: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  margin: 32px auto;
  max-width: 48rem;
  padding: 0 16px;
}
